<launch>
  <include file="$(find xycar_motor)/launch/xycar_motor.launch" />
  <include file="$(find usb_cam)/launch/xycar_cam.launch" />
  <include file="$(find xycar_imu)/launch/xycar_imu.launch" />
  <include file="$(find xycar_lidar)/launch/xycar_lidar.launch" />
  <node name="hough_drive" pkg="hough_drive" type="hough_drive.py" output="screen" />
</launch>
